---
title: Le Wagon - Middleman
---
<%= partial "layouts/banner" %>
<%= partial "layouts/cards" %>
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "Find out about the team", "team.html" %>
      <%= link_to "The origional creator's of the template", "about.html" %>
    </p>
  </div>
</div>
